    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          {% for info in site.data[page.header] %}
          <div style="color: #fed136"class="intro-lead-in">{{ info.subtitle }}</div>
          <div style="color: #fed136" class="intro-heading text-uppercase">{{ info.title }}</div>
          {% endfor %}
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
      </div>
    </header>