<!DOCTYPE html>
<html>
<head>
	<title> {{ page.title }} </title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content=" {{ site.description }} ">
	<meta name="author" content=" {{ site.author }} ">
	<meta name="keywords" content=" {{ site.keywords }} ">

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="{{ site.title }}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{{ site.image }}"/>
	<meta property="og:url" content="event.upstairslab.co"/>
	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta property="og:description" content="{{ site.description }}"/>
	<meta name="twitter:title" content="{{ site.title }}" />
	<meta name="twitter:description" content="{{ site.description }}" />
	<meta name="twitter:image" content="{{ site.image }}" />
	<meta name="twitter:url" content="event.upstairslab.co" />
	<meta name="twitter:card" content="summary" />	

	<!-- Bootstrap core CSS -->
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

	<!-- Custom styles for this template -->
	<link href="assets/css/agency.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">

	<!-- Mapbox -->
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
	{{ content }}
</body>
</html>